body {
    background-color: black;
}

.app__body {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.app__container{
    width: 1024px;
    height: 100%;
    display: flex;
    padding-left: 48px;
    padding-right: 48px;
}