.newsfeed {
    flex: 0.7;
    color: white;
}

.newsfeed__portfolio {
    text-align: left;
}

.newsfeed__portfolio h1 {
    margin: 0;
}

.newsfeed__portfolio p {
    margin-top: 0;
}

.newsfeed__chart {
    width: 100%;
}

.newfeed__chartSection {
    display: flex;
    flex-direction: column;
}