.newsfeed {
    //border: 1px solid orange;
    flex: .7;
    color: #fff;
  
    &__portfolio {
      text-align: left;
    }
  
    &__chart {
      width: 100%;
  
      &Section {
        display: flex;
        flex-direction: column;
      }
    }
  
    &__buyingSection {
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-bottom: 1px solid #3b4754;
  
    }
  
    &__marketSection {
      margin-top: 60px;
    }
  
    &__marketBox {
      text-align: left;
      height: 10vh;
      padding: 20px;
      border: 1px solid #31363A;
      border-radius: 4px;
  
      p {
        color: #7b858a;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 8px;
      }
    }
  
    &__popularlists {
  
      &Section {
        margin-top: 60px;
      }
  
      &Intro {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
      }
  
      &Badges {
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
      }
    }
    .topic__badge{
      color: #fff;
      margin: 8px;
      border-color: #31363A;
  
    }
  }
  
  
  