.stats {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 30px 30px;
    color: white;
}

.stats__container {
    flex-direction: column;
    flex: 1;
    background-color: #1E2023;
    border-radius: 5px;
    border: 1px solid #42494D;
}

.stats__header {
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #42494D;
    padding: 20px 20px 10px 20px;
    font-weight: 500;
}