.timeline__container {
  display: flex;
  border-bottom: 1px solid #3b4754;
}

.timeline__buttons__container {
  display: flex;
  align-items: center;
}

.timeline__button {
  font-weight: bold;
  padding: 10px 10px 20px 10px;
  cursor: pointer;
}

.timeline__button:hover {
  color: #5ac53b; 
}

.timeline__button.active {
  color: #5ac53b;
  border-bottom: 2px solid #5ac53b;
}

.timeline__button:hover {
  border-bottom: 2px solid green; 
}