.timeline {

    &__container {
      display: flex;
      border-bottom: 1px solid #3b4754;
      align-items: center;
    }
  
    &__button {
      font-weight: bold;
      padding: 10px 10px 20px 10px;
      cursor: pointer;
      &:first-child{
        padding-left: 0;
      }
      &:hover{
        color: #5ac53b;
      }
    }
  }
  .active{
    color: #5ac53b;
    border-bottom: 3px solid #5ac53b;
  }